body{
  background-color: hsl(212, 45%, 89%)
}
main{
  width: 15%;
  height: 380px;
  border-radius: 10px; 
  background-color: white;
  margin: 12% 43%;
} 
img{
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 10px;
}
.txt{
  text-align: center;
}
p{
  font-size: 12px;
}
h3{
  font-size: 18px;
}